@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
  font-style: italic;
  line-height: 1.6;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.content-wrapper {
  margin: 0 auto;
  padding: 30px 50px;
  max-width: 1000px;
}

.page__title {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color: #333333;
}

.block__title {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  font-style: normal;
}

.title-big {
  font-size: 28px;
  font-weight: 700;
  color: #333333;
  font-style: normal;
}

.title-small {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.2px;
  color: #222;
}

.fs-normal {
  font-style: normal;
}

.c-white {
  color: #fff;
}

.c-grey {
  color: #777;
}

.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 246, 252, 0.52)), to(rgba(37, 58, 25, 0.73))), url(../img/hero.webp);
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(37, 58, 25, 0.73)), url(../img/hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-items {
  font-style: normal;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  position: relative;
  padding-bottom: 5px;
}

.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.nav-item:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

a:not(:last-child) {
  margin-right: 20px;
}

.lang {
  font-style: normal;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
}

.lang:nth-child(n) {
  cursor: pointer;
}

.ua {
  font-weight: 700;
  margin-right: 10px;
}

.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.section-content__part1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
}

.section-content__part2 {
  margin-left: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
}

.main__title {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.title__desc {
  font-style: normal;
}

.count-row {
  font-style: normal;
}

.count-row:not(:last-child) {
  margin-bottom: 10px;
}

.count-num {
  font-size: 30px;
  font-weight: 700;
}

.count-text {
  font-size: 14px;
  font-style: italic;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item > img {
  width: 24px;
  height: auto;
  margin-right: 10px;
  fill: #fff;
}

.tours-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.tours-header .header-link {
  font-size: 16px;
  color: #a2b503;
}

.tours-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tours-cards .a-side {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.tours-cards .b-side {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.card-img > img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  display: block;
  height: 350px;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.side1 {
  padding: 10px 20px;
}

.card-date {
  color: #a2b503;
  margin-bottom: 10px;
}

.card-title {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-desc {
  color: #333333;
  font-size: 10px;
  font-style: italic;
  line-height: 1.3;
}

.card-price {
  height: 50%;
  min-width: 100px;
  color: #fff;
  font-size: 16px;
  background-color: #333333;
  text-align: center;
  padding: 20px 0;
}

.card-button {
  text-align: center;
  padding: 20px 0;
  height: 50%;
  min-width: 100px;
  background-color: #a2b503;
}

.b-side {
  width: 50%;
  margin-left: 20px;
}

.b-side > .card-block--sm + .card-block--sm {
  margin-top: 20px;
}

.sm-img > img {
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
}

.side2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side2-content > .card-price {
  height: auto;
}

.side2-content > .card-button {
  height: auto;
}

.side1-content {
  padding: 10px 20px;
}

.card__img {
  background: url(../../img/banner.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.card-block--sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(117, 103, 103, 0.356);
  border-radius: 4px;
}

.card-block--sm > .card__img {
  line-height: 0;
  max-width: 300px;
  min-height: 100px;
  background: url(../../img/mount-full.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.card__content--sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  border: 1px solid #7c7070;
  width: 100%;
}

.card__content-side1--sm {
  display: inline-block;
  padding: 10px 15px;
}

.clients {
  color: #333333;
}

.clients-review__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.clients-review__item {
  padding: 30px;
}

.clients-review__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.clients-review__img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.clients-review__info {
  padding-left: 20px;
}

.clients-review__text {
  font-size: 12px;
  font-style: italic;
  color: #333;
}

.page-header__img-wrap {
  height: 400px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 246, 252, 0.52)), to(rgba(37, 58, 25, 0.73))), url(../img/hero.webp);
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(37, 58, 25, 0.73)), url(../img/hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-travels {
  margin-top: -250px;
}

.travel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.travel__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.travel__img-wrap {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 550px;
          flex: 1 1 550px;
}

.travel__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  background-color: #fff;
}

.travel__info {
  padding: 50px;
}

.travel__date {
  color: #a2b503;
}

.travel__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel__price {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  text-align: center;
  padding: 7px;
  background-color: #333;
}

.travel__submit {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 55%;
          flex: 1 0 55%;
  background-color: #a2b503;
  padding: 7px;
  text-align: center;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.advantages__item {
  margin: 0 10px;
  max-width: calc(33% - 20px);
  padding: 30px 30px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 20px;
}

.advantages__item__img {
  width: 50px;
  height: 50px;
  fill: #a2b503;
  margin-bottom: 5px;
}

.our-team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.our-team__card {
  max-width: calc(33% - 20px);
  margin: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
}

.our-team__img-wrap {
  min-height: 200px;
  width: auto;
}

.our-team__info {
  color: #fff;
  background-color: #333;
}

.our-team__social {
  width: 24px;
  height: auto;
  fill: #a2b503;
  color: #a2b503;
}
/*# sourceMappingURL=style.css.map */