@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}
html {
  // color: #fff;
  font-size: 12px;
  font-style: italic;
  line-height: 1.6;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
$content-width: 1000px;
$main-color: #333333;
$secondary-color: #a2b503;

body {
  // font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.content-wrapper {
  margin: 0 auto;
  padding: 30px 50px;
  max-width: $content-width;
}

.page__title {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color: $main-color;
}

.block__title {
  font-size: 16px;
  color: $main-color;
  font-weight: 700;
  font-style: normal;
}

.title-big {
  font-size: 28px;
  font-weight: 700;
  color: $main-color;
  font-style: normal;
}

.title-small {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.2px;
  color: #222;
}

.fs-normal {
  font-style: normal;
}
.c-white {
  color: #fff;
}

.c-grey {
  color: #777;
}
