.card {
  &__block {
  }
  &__img {
    line-height: 0;
    width: 100%;
    & > img {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    border-radius: 4px;
    display: flex;
    &-side1 {
      max-width: 70%;
      padding: 10px;
    }
    &-side2 {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      text-align: right;
      width: 30%;
    }
    &--date {
      color: #b7c936;
      margin-bottom: 10px;
    }
    &--title {
      color: $main-color;
      margin-bottom: 10px;
    }
    &--desc {
      font-style: italic;
      font-size: 12px;
    }
    &--price {
      color: #fff;
      background-color: $main-color;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--go {
      background-image: url(../../img/icon/arrow-pointing-to-right.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #b7c936;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
